// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}
html {
    font-size: 62.5%;
}
.flex(@flex-direction, @align){
	display: flex;
	flex-direction: @flex-direction;
	align-items: @align;
}
.padding(){
	padding-left: 25px;
	padding-right: 25px;
}
@main: @gray;
@gray: rgba(211, 211, 211, 0.756);
@headerscolor: @lavender;
@lavender: rgb(210, 194, 224);
@fontcolor: rgb(61, 60, 60);
@fontstyle: 'Quicksand', sans-serif;
.main {
    margin: 0 auto;
    padding: 0 3%;
	display: flex;
	color: @fontcolor;
	.flex(column, stretch);
    max-width: 880px;
	font-size: 1.6rem;
	font-family: @fontstyle;

	.header {
		display: flex;
		flex-direction: row;
		background-color: @lavender;
		padding-bottom: 30px;
		padding-top: 10px;
		.padding;

	}
	.div1{
		display: flex;
		flex-direction: column;
		width: 50%;
		
		.link{
			display: inline-block;
			text-decoration: none;
			color: rgb(61, 60, 60);
			font-size: 2rem;
			word-break: break-word;
			@media (max-width: 500px) {
				font-size: 1.8rem;
			}
		}
	}
	.h1header{
		display: flex;
		flex-direction: column;
		padding-top: 30px;
		font-size: 3.2rem; 
		font-weight: 1000;
	}
	.div2{
		display: flex;
		flex-direction: column;
		width: 50%;
		
	}
	.upper{
		flex-direction: column;
		padding-top: 30px;
		@media (min-width: 500px) {
			text-align: justify;	
		}
		
		}
	.upper2{
		flex-direction: column;
		padding-top: 10px;
		@media (min-width: 500px) {
			text-align: justify;	
		}
	}
	.div3{
		display: flex;
		flex-direction: column;
		.padding;
		background-color: @main;	
	.middle{
		display: flex;
		flex-direction: column;
		text-align: justify;
	}
}
	h2 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		font-size: 2.2rem;
		padding: 25px 0;
		font-weight: 800;
		}
	h3	{
		display: flex;
	flex-direction: row;
	font-size: 2rem;
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: 600;

}
	h4 {
		display: flex;
		flex-direction: row;
		padding-bottom: 5px;
		font-style: italic;

	}
	.div4{
		display: flex;
		flex-direction: column;
		.padding;
		background-color: @main;
		padding-bottom: 25px;

	}
	ul {
		display: flex;
		flex-direction: column;
		.padding;
		list-style-type: square;
	}
	.div5{
		display: flex;
		flex-direction: column;
		background-color: @lavender;
		padding-bottom: 25px;
		padding-top: 25px;
		
		.link {
			display: inline-block;
			text-decoration: none;
		}
		nav {
			display: flex;
			justify-content: space-between; 
			height: 20px;
			line-height: 25px;
			width: 100%;
			.padding;
		  }
	}
}